body {
    margin: 0;
    height: 200vh;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

#headerBottomLayer {
    background: #000 url("Media/austria.jpg") no-repeat center;
    background-attachment: fixed;
    height: 100vh;
}

#headerTopText {
    position: fixed;
    transform: translate(50%, 0);
    top: 60px;
    font-size: 350%;
    text-align: center;
    width: 50%;
    color: #ffffff;
    margin: 0;
    transition: transform 0.4s ease-out;
}

.headerTextFloating {
    transform: translate(5%, 0) !important;
}

.headerTextStatic {
    position: absolute !important;
    transform: translate(5%, 0) !important;
    bottom: 60px;
    top: auto !important;
}