body {
    margin: 0;
    height: 200vh;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: #333333;
}

::selection {
    background-color: papayawhip;
}

#headerBottomLayer {
    background: #000 url("Media/austria.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

#headerTopText {
    position: fixed;
    transform: translate(50%, 0);
    top: 60px;
    font-size: 350%;
    text-align: center;
    width: 50%;
    color: #ffffff;
    text-shadow: 0 1px 5px #4e4e4e;
    margin: 0;
    transition: transform 0.4s ease-out;
}

.headerTextFloating {
    transform: translate(5%, 0) !important;
}

.headerTextStatic {
    position: absolute !important;
    transform: translate(5%, 0) !important;
    bottom: 60px;
    top: auto !important;
}

#about {
    margin-top: 15vh;
    float: right;
    width: 35%;
}

    #about a {
        text-decoration: none;
    }

    #about i {
        font-size: 95%;
    }

#about div:nth-child(2) {
    margin: 0.5em 0 0.5em 0;
}

.row {
    text-align: center;
}

.rounded {
    border-radius: 50%;
}

.small-img {
    width: 5rem;
}

.large-img {
    width: 10rem;
    box-shadow: 0 0 5px 1px black
}

#content {
    width: 65%;
    padding: 7vh 0 0 0;
    font-size: 120%;
    float: left;
}

    #content div {
        line-height: 130%;
        padding: 2vh 4vw 2vh 5rem;
    }

@media screen and (max-width: 767px) {
    #headerTopText {
        font-size: 280%;
    }

    #about {
        width: 100%;
        margin: 5vh 0 2vh 0;
    }

    #content {
        width: 100%;
        text-align: center;
    }

        #content div {
            text-align: left;
            padding: 2vh 3rem 2vh 3rem;
        }
}